* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 20;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a :hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background-image:url(IT\ TEXT\ 5.png);
    background-size: 100% ;
    background-repeat: repeat;
}

.glav {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    /*padding: 10%;
    margin: 1%;
    background-color: #12345678;*/

}

.img{
    width: 90%;
    padding: 3% 1% 10% 10%;
}

.text {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #5d67a5;
    border: 5px solid #010120;
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    padding: 10px 10px 10px 10px;
    margin: 1% 10% 1% 10%;
    background-color: #10073b99;
    min-width: 500px;
    /*overflow: auto;
    max-height: 1000px;*/
}